@page "/"
@inject HttpClient Http
@if (items == null)
{
    <p><em>Loading...</em></p>
}
else if (!items.Any())
{
    <p><em>No ToDo items exist.  Please add some.</em></p>
}
else
{
    <div id="Init">
        <div class="form-group">
            <label for="count">How many players?</label>
            <select id="count" class="form-control" bind="@count">
                @for (int i = 1; i <= settings.PlayerCount; i++)
                {
                    <option value="@i">@i</option>

                }
            </select>
        </div> 
        <div class="form-group">
            <label for="CivsPerPlayers">How many Civilizations will one player receive?</label>
            <select id="CivsPerPlayers" class="form-control">
                @for (int i = 1; i <= settings.CivsPerPlayers; i++)
                {
                    <option value="@i">@i</option>

                }
            </select>
        </div>
        <button class="btn btn-primary" onclick="@NextOk">Next</button>
    </div>
}


@functions{
    string count = "";
    IList<string> items = new List<string>();
    Settings settings = new Settings();

    protected override async Task OnInitAsync()
    {
        settings = await Http.GetJsonAsync<Settings>("sample-data/settings.json");
        items = await Http.GetJsonAsync<List<string>>("sample-data/expansions.6.json");
    }

    class Settings
    {
        public int PlayerCount { get; set; }
        public int CivsPerPlayers { get; set; }
    }

    void NextOk()
    {
        Console.WriteLine(count);
    }

}
